<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4">
  <% @recipes.each do |recipe| %>
    <div class="rounded overflow-hidden shadow-lg flex flex-col mb-4">
      <%= link_to recipe_path(recipe), data: { turbo_frame: "_top" } do %>
        <%= image_tag(recipe_image(recipe), loading: "eager", class: "rounded-lg") %>
        <p class="text-center hover:underline mt-2 mb-2"><%= recipe.name %></p>
      <% end %>
    </div>
  <% end %>
</div>

