 <% if logged_in? %>
<h1>Recipes</h1>
<%= link_to 'New Recipe', new_recipe_path %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe %>
    </li>
    </ul>
  <% end %>

<% else %>
        <h2>Create an account or login to create or view recipes</h2>
 <% end %>


