

<div class="bg-gray-200 mx-auto p-8 rounded-lg">
<div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
    <button type="button" class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">All categories</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">Breakfast</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">Lunch</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">Dinner</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">Dessert</button>
</div>



<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5  gap-4">

<% if logged_in? %>
  <% @recipes.each do |recipe| %>
       <%= link_to recipe_path(recipe) do %>
       <% if recipe.image.attached? %>
     <%= image_tag recipe.image.variant(resize_to_fill: [400, 400]) %>
        <% end %>
     <% end %>
       <%= link_to recipe.name, recipe_path(recipe), class: 'text-center hover:underline mt-2' %>

    </div>

 <% end %>

  <% else %>
      <li class="bg-white p-4 rounded-lg shadow">
        <p class="text-gray-700">No recipes found</p>
      </li>
    <% end %>


</div>

<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5  gap-4">
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://www.tasteofhome.com/wp-content/uploads/2017/10/Slow-Cooked-Vegetable-Curry_EXPS_SDAS17_148481_D04_07_5b.jpg" alt="">
        <p class="text-center mt-2">Vegetable Curry</p>

    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://www.tasteofhome.com/wp-content/uploads/2019/02/Sausage-Tomato-Coconut-Curry-_EXPS_SDAM19_234272_B12_05_8b-4.jpg" alt="">
        <p class="text-center mt-2">Sausage Tomato Coconut Curry</p>
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="http://simplysated.com/wp-content/uploads/2015/09/1-roast-chicken-19c-P9150019.jpg" alt="">
        <p class="text-center  mt-2">Roast Chicken</p>
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://assets.epicurious.com/photos/55f72d733c346243461d496e/1:1/w_2560%2Cc_limit/09112015_15minute_pastasauce_tomato.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://www.emmymade.com/wp-content/uploads/2021/02/C14C8BB1-1847-4741-AA00-9767310D3F43.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://www.tasteofhome.com/wp-content/uploads/2018/01/Chocolate-Chip-Muffins_EXPS_TOHAM21_11638_B12_04_1b-1.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://www.errenskitchen.com/wp-content/uploads/2020/10/Simple-Cake-square-1024x1024.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="http://del.h-cdn.co/assets/15/32/980x980/img_2450-2-1024x1024.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://www.tasteofhome.com/wp-content/uploads/2018/01/Sugar-Glazed-Ham_EXPS_GHTJM17_709_B03_14_8b-23.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://natashaskitchen.com/wp-content/uploads/2021/11/Garlic-Mashed-Potatoes-SQ-2.jpg" alt="">
    </div>
</div>
    </div>
</div>
</div>
